name: Deploy to EC2

on:
  push:
    branches:
      - main
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}

          script: |
            set -e
            cd ~/aws-docker-nginx-deployment
            git pull
            docker build -t nginx-demo .
            docker rm -f nginx-demo || true
            docker run -d --restart unless-stopped --name nginx-demo -p 80:80 nginx-demo
